/*
# tables
- É a maneira de tabelas onde a tag 'table' recebe um display 'table' fazendo com que os elementos internos como 'id' e 'tr' possam ser usados para montar uma tabela.

<table>
  <tr>
    <td>Hora</td>
    <td>20:00</td>
  </tr>
  <tr>
    <td>Hora</td>
    <td>20:37</td>
  </tr>
</table>
________________________________________________________________________________
# Tabless
- Uso das propriedades 'float', 'clear' para que os elementos possam mudar de posição na tela.

<div style="float: left">
  esquerda
</div>

<div style="float: right">
  direita
</div>

<div style="clear: both">
  normal
</div>
*/

.esquerda {
  float: left;
}

.direita {
  float: right;
}

.normal {
  clear: both;
}