/*
# Flex-sizing

- flexível
 - altera width/heigth dos itens para preenchimento dos espaços do flex container
*/

.container {
  display: flex;
  border: 1px solid red;
  height: 200px;
}

.item {
  background-color: gray;
  border: 1px solid;
  flex: 1;
}